<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>！！じゃんけん！！</title>
</head>

<body>
  <div th:if="${PlayerName}">
    Hi [[${PlayerName}]]
  </div>

  <form action="/janken/start" method="post">
    <div>
      <input type="submit" name="player_hand" value="グー">
      <input type="submit" name="player_hand" value="チョキ">
      <input type="submit" name="player_hand" value="パー">
    </div>
  </form>

  <div class="result">
    <h3>あなたの手</h3>
    <div th:if="${player_hand}">
      <p>[[${player_hand}]]</p>
    </div>
    <h3>CPUの手</h3>
    <div th:if="${cpu_hand}">
      <p>[[${cpu_hand}]]</p>
    </div>
    <h1>結果</h1>
    <div th:if="${result}">
      <p>[[${result}]]</p>
    </div>
  </div>
</body>

</html>
